.work-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

.work-subtitle {
    font-weight: bold;
}

.work-paraphrase {
    text-align: justify;
}

.work-subsection {
    height: 245px;
    margin-bottom: 105px;
}

.work-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-img {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: width .5s;
}

.work-img:hover {
    width: 100%;
}

@media (max-width: 576px) {
    .work-title {
        text-align: center;
    }
}

/* Small & Medium devices (landscape phones, tablets, 576px, 768px and up) */
@media (max-width: 991px) {
    .work-subsection {
        height: 495px;
        margin-bottom: 50px;
    }

    .work-img-container {
        margin-bottom: 30px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
