.projectImage{
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 100%;
    max-height: 370px;
    object-fit: cover;
    object-position: top;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: #edebe8;

    transition: all .2s;
}
.projectImageWrapper{
    transition: all .2s;
}
.projectImageWrapper:hover{
    margin-top: 54px!important;
}
.projectImage:hover{
    max-height: 380px;
}
.projectLink{
    transition: all .5s;
    position: relative;
}
.showMore{
    transition: all .5s;
}

.projectLink:hover .showMore{
    transform: rotate(90deg);
    position: absolute;
}
.projectLink:after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    transition: all .5s;
}

.projectLink:hover:after{
    width: 80%;
}

/*LARGE DEVICES*/
@media (min-width: 1024px){
    .projectImageWrapper{
        transition: all .2s;
    }
    .projectImageWrapper:hover{
        margin-top: 54px!important;
    }
    .projectImage:hover{
        max-height: 380px;
    }
}

/*SMALL DEVICES*/
@media (max-width: 768px){
    .projectImage{
        border-width: 5px;
        border-color: #232121;
        max-height: 270px;
        
    }
}