.headerMain{
    font-weight: 800;
    font-size: 18px;
}

.headerOption{
    width: auto;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,.75);
	text-align: end;
    display: flex;
    align-items: center;
}

.headerOption:after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #232121;
    z-index: 1;
    transition: all .5s;
}

.headerOption:hover:after{
    width: 100%;
}

.headerCTA {
    max-width: 220px;
    height: 40px;
    padding: 8px 16px;
    list-style: none;
    border-radius: 12px;
    transform: rotate(-3.21deg);
    text-decoration: none;
    color: #fff !important;
    text-align: center;
    transition: all .2s;
    background-color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
}

.headerCTA:hover{
    transform: rotate(3.21deg);
}

.logo{
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 2px;
}

.headerContainer{
}




@media (max-width: 768px){
    .headerNavigation{
        display: none;
    }
}