@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F3F0;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
}
p{
  font-size: 16px;
  font-weight: 400;
}
/*START - Titles*/
h1{
  font-size: 70px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
}
h2{
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
}
h3{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
h4{
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 16px;
  }
}
/*END - Titles*/
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
}