@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
}
h1{
  font-size: 50px;
  font-weight: 200;
}
h2{
  font-size: 36px;
  font-weight: 200;
}
h3{
  font-size: 28px;
  font-weight: 200;
}
h4{
  font-size: 22px;
  font-weight: 200;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.globalButton {
	max-width: 220px;
	height: 40px;
    padding: 8px 16px;
	list-style: none;
	border-radius: 12px;
	transform: rotate(-3.21deg);
	text-decoration: none;
	color: #fff !important;
	text-align: center;
    transition: all .2s;
}

.globalButton:hover{
  transform: rotate(3.21deg);
}

/*HOME*/
.main-text {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
}

.main-image {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 2px;
}

.responsive-main-image{
  width: 150px;
  border-radius: 50%;
  transform: translate(60%, 0);
  -webkit-transform: translate(26vw, 0);
}

.main-logo {
  margin-right: 20px;
  width: 60px;
  height: 35px;
  filter: grayscale(100%);
  transition: filter .5s;
}


.main-logo:hover {
  filter: grayscale(0);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .main-logos-container{
      display: flex;
  }

  .main-logo-col {
      margin-bottom: 50px;
      height: 30px;
      display: flex;
      justify-content: center;  
  }

  .main-logo {
      width: 100%;
      margin-right: 0 !important;
  }

  .main-text {
      text-align: center;
  }
}

.skillLogo{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* small & tablet devices */
@media (max-width: 768px) {
  .main-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
  }

  .main-text {
      font-size: 28px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 18px;
  }
}
