@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F3F0;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
}
p{
  font-size: 16px;
  font-weight: 400;
}
/*START - Titles*/
h1{
  font-size: 70px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
}
h2{
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
}
h3{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
h4{
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 16px;
  }
}
/*END - Titles*/
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
}

.globalButton {
  max-width: 220px;
	height: 40px;
  padding: 8px 16px;
	list-style: none;
	border-radius: 12px;
	transform: rotate(-3.21deg);
	text-decoration: none;
	color: #fff !important;
	text-align: center;
  transition: all .2s;
}

.globalButton:hover{
  transform: rotate(3.21deg);
}

/*HOME*/



.main-logo {
  margin-right: 20px;
  width: 60px;
  height: 35px;
  filter: grayscale(100%);
  transition: filter .5s;
}


.main-logo:hover {
  filter: grayscale(0);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .main-logos-container{
      display: flex;
  }

  .main-logo-col {
      margin-bottom: 50px;
      height: 30px;
      display: flex;
      justify-content: center;  
  }

  .main-logo {
      width: 100%;
      margin-right: 0 !important;
  }
}
/* small & tablet devices */
@media (max-width: 768px) {
}
