.bgimg-1 {
	-webkit-animation: OpacityDown 3s; /* Safari 4+ */
	-moz-animation: OpacityDown 3s; /* Fx 5+ */
	-o-animation: OpacityDown 3s; /* Opera 12+ */
	animation: OpacityDown 3s; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes OpacityDown {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes OpacityDown {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes OpacityDown {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes OpacityDown {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
