.headerMain{
    font-weight: 800;
    font-size: 18px;
}
.headerOption{
    width: auto;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,.75);
	text-align: end;
    display: flex;
    align-items: center;
}
.headerCTA {
	max-width: 220px;
	height: 40px;
    padding: 8px 16px;
	list-style: none;
	background: #46b0dd;
	border-radius: 12px;
	transform: rotate(-3.21deg);
	text-decoration: none;
	color: #fff !important;
	text-align: center;
    transition: all .2s;
}

.headerCTA:hover{
    transform: rotate(3.21deg);
}