.main-section {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
}

.main-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.main-icon {
    margin-right: 20px;
    width: 35px;
    opacity: .4;
}

.main-icon:hover {
    opacity: 1;
}